body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

.timer {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}
