body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0f172a;
  color: white;
  margin: 0;
}

main {
  margin-top: 80px;
}

.timer {
  margin-top: 40px;
}

#time {
  font-size: 3rem;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  opacity: 0.8;
}

#status {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #94a3b8;
}
.tasks {
  margin-top: 50px;
}

.task-input input {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

.task-input button {
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #1e293b;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
